//varibles,

//$color-prime-1: #f2e088;
//$color-prime-2: #d9c58b;

$color-bg: #101d2c;
$color-prime-1: #d9d9d9;
$color-prime-2: #d9d9d9;

$color-base-1: #717348;
$color-base-2: #101d2c;
$color-base-3: #76c7ad;
$color-base-4: #ff4858;

$color-light: #d9d9d9;
$color-dark: #8c8a87;

//$font-prime: "Proza Libre", sans-serif;
//$font-sec: "Noto Sans", sans-serif;
//$font-third: "Source Sans 3", sans-serif;
$font-family-fira: "Fira Sans", sans-serif; //400
$font-family-lato: "Lato", sans-serif; //400
$font-family-rale: "Raleway", sans-serif; //300 500

//RESPONSIVE DESIGN
$bp-1200px: 75em;
$bp-1000px: 62.5em;
$bp-800px: 50em;
$bp-600px: 37.5em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: $font-family-rale;
  box-sizing: border-box;
  font-size: 62.5%; //to ger --10px = 1rem (normally browser default 16px = 1rem )
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: $font-family-rale;
  font-size: 1.6rem;
  color: $color-base-2;
  font-weight: 300;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading-1 {
  font-family: $font-family-fira;
  color: $color-dark;
  text-align: center;
  background-color: $color-bg;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: 5px;
  padding: 1rem 0;
}
.heading-2 {
  font-size: 3rem;
}
.heading-3 {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

.btn {
  border: none;
  outline: none;
  padding: 0;
  &--del {
    color: #ff4858;
  }
  &--add {
    color: #717348;
  }
}
