//varibles,

$color-prime-1: #f2e088;
$color-prime-2: #d9c58b;
$color-prime-3: #f2a71b;

$color-bg: #025e73;

$color-base-1: #717348;
$color-base-2: #101d2c;
$color-base-3: #76c7ad;
$color-base-4: #ff4858;

$color-light-1: #d9d9d9;
$color-light-2: #bfb78f;
$color-dark-1: #8c8a87;
$color-dark-2: #a5a692;

//$font-prime: "Proza Libre", sans-serif;
//$font-sec: "Noto Sans", sans-serif;
//$font-third: "Source Sans 3", sans-serif;
$font-family-fira: "Fira Sans", sans-serif; //400
$font-family-lato: "Lato", sans-serif; //400
$font-family-rale: "Raleway", sans-serif; //300 500

//RESPONSIVE DESIGN
$bp-1200px: 75em;
$bp-1000px: 62.5em;
$bp-800px: 50em;
$bp-600px: 37.5em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: $font-family-rale;
  box-sizing: border-box;
  font-size: 62.5%; //to ger --10px = 1rem (normally browser default 16px = 1rem )
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: $font-family-rale;
  font-size: 1.6rem;
  color: $color-base-2;
  font-weight: 300;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media only screen and (max-width: $bp-1000px) {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}
button,
select,
input,
option {
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  width: max-content;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 1rem;
  }
  font-stretch: none;
}
.heading-1 {
  font-family: $font-family-fira;
  color: $color-base-2;
  text-align: center;
  background-color: $color-prime-3;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 20px;
  letter-spacing: 6px;
  padding: 1rem 0;
}
.heading-2 {
  font-size: 3rem;
}
.heading-3 {
  margin: 1rem 1rem;
  font-size: 2.6rem;
  word-spacing: 5px;
}

.select__box {
  padding: 1rem;
  width: max-content;
  position: relative;
  color: $color-base-2;
  background-color: $color-base-3;
  cursor: pointer;
  border: 0;
}
.select__option {
  position: absolute;
  color: $color-base-2;
  background-color: $color-base-3;
  border: 0;
  border: none;
}
.btn {
  border: none;
  outline: none;
  padding: 1rem 2rem;

  &--del {
    color: $color-base-4;
    background-color: transparent;
  }
  &--add {
  }
  &--clear {
  }
}
