.footer {
  background-color: $color-light-1;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__stats {
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-bg;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: $color-base-3;
  }
}

//sub -- ELEMENT
.travel__sort {
}
.select__box {
}
