.footer {
  background-color: $color-light-1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5rem;

  &__stats {
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-bg;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: $color-base-3;
    @media only screen and (max-width: $bp-600px) {
      font-size: 1.3rem;
    }
    @media only screen and (max-width: $bp-400px) {
      font-size: 1.2rem;
    }
    @media only screen and (max-width: $bp-300px) {
      font-size: 1rem;
    }
  }
}

//sub -- ELEMENT
.travel__sort {
  display: flex;
  justify-content: space-between;
  :hover {
    background-color: rgba($color-base-3, 0.2);
  }
}
.travel__sort--option {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  @media only screen and (max-width: $bp-600px) {
    padding: 1rem 1.5rem;
  }
  @media only screen and (max-width: $bp-400px) {
    padding: 0.8rem;
  }
}
.travel--icon {
  margin-bottom: 0.5rem;
  font-size: 3rem;
  cursor: pointer;
  @media only screen and (max-width: $bp-600px) {
    font-size: 2.8rem;
  }
  @media only screen and (max-width: $bp-400px) {
    font-size: 2.5rem;
  }
}
.travel__username {
  font-family: $font-family-fira;
  font-size: 1.6rem;
  @media only screen and (max-width: $bp-600px) {
    font-size: 1.2rem;
  }
  @media only screen and (max-width: $bp-400px) {
    font-size: 1rem;
  }
  @media only screen and (max-width: $bp-300px) {
    font-size: 1rem;
  }
}
//DROP UP

.dropup {
  position: relative;
  display: inline;
  min-width: max-content;
  z-index: 1;
}
.dropup__btn {
  background-color: transparent;
}

.dropup__content {
  display: none;
  position: absolute;
  bottom: 8rem;
  min-width: 160px;
  z-index: 5;
}
/* Links inside the dropup */
.dropup__content button {
  padding: 3rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup__content button:hover {
  text-decoration: none;
  display: block;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup__content {
  display: block;
}

.dropup__content--btn {
  background-color: transparent;
  &:hover {
    background-color: rgba($color-bg, 0.2);
  }
}
