.travel__element {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.travel__form {
  background-color: $color-prime-2;
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-800px) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    justify-content: center;
    grid-gap: 0rem;
    padding: 0rem;
  }
  &--heading {
    grid-column: 1 / -1;
  }
}

.travel__item {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media only screen and (max-width: $bp-600px) {
    font-size: 1.6rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0.35rem 1rem;
    margin-right: auto;
  }
  @media only screen and (max-width: $bp-400px) {
    font-size: 1.32rem;
    padding: 0.2rem 0.45rem;
  }
  @media only screen and (max-width: $bp-300px) {
    font-size: 1rem;
    padding: 0.15rem 0.25rem;
  }
}
.travel__list {
  font-family: $font-family-lato;
  font-size: 2rem;
  background-color: $color-light-1;
  color: $color-base-1;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  gap: 3.2rem;
  list-style: none;

  overflow: scroll;
  &--items {
    padding: 1rem;
  }
  &--check {
    transform: translateY(0.15rem) translateX(-0.5rem);
  }
  &--text {
  }
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: $color-base-3;
  @media only screen and (max-width: $bp-600px) {
    height: 1.6rem;
    width: 1.6rem;
    font-size: 1.6rem;
  }
  @media only screen and (max-width: $bp-400px) {
    height: 1.32rem;
    width: 1.32rem;
  }
  @media only screen and (max-width: $bp-300px) {
    height: 1rem;
    width: 1rem;
  }
}

.travel__form--input {
  background-color: $color-base-3;
  color: $color-bg;
  height: max-content;
}
